---
---

@import "{{ site.theme }}";



nav ul{
   display:flex;
   list-style: none;
   justify-content: center;
   padding-left:0;
}


.btn{
border-style: none;
}

p.body{
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 300;
   font-size; 1rem;
}


h1.page-header{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700; 
    font-size: 5rem;
}

h2.page-header{
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 3rem; 
   
}

// To override a specific element style, be specific: instead of h1, use h1.header

// #main-content h1
.page-header{
   background-image: url(../img/heroimg.jpeg);
   background-size: cover;
   padding-bottom: 50%;
}

#logo{
   background-color: white;
   width: 150px;
   display: inline-block;
   justify-items: center;
   padding-bottom: 20px;
   padding-right: 45%;
   padding-left: 45%;
   padding-top: 15px;
}

.nav{
   background: white;
}

.nav li{
   padding-right: 30px;
}

.project-name{
color: white;
}

.project-tagline{
   color: white;
}

a{
   color: black;}

#hero-text{
padding-top: 45%;
padding-bottom: 45%; }


// News CSS 
.card{
display: flex;
margin-bottom: 1rem;
border-bottom: solid 1px lightcoral;
}

#footer{
background: red; 
}

.pic{
   margin-right: 1.5rem;
}
