---
---

@import "{{ site.theme }}";



nav ul{
   display:flex;
   list-style: none;
   justify-content: right;
   padding-left:0;
}


.btn{
border-style: none;
}

p.body{
   font-family: 'Arial', sans-serif;
   font-weight: 400;
}


h1.page-header{
   font-family: 'Permanent Marker', cursive;
}

h2.page-header{
font-family: 'Arial', sans-serif; 
}

// To override a specific element style, be specific: instead of h1, use h1.header

// #main-content h1
.page-header{
   background-image: url(../img/heroimg.jpeg);
   background-size: cover;
   padding-bottom: 50%;
}

#logo{
   background-image: url(../img/logo.png); 
   background-color: white;
}

.nav{
   background: white;
}

.nav li{
   padding-right: 30px;
}

.project-name{
color: white;
}

.project-tagline{
   color: white;
}

a{
   color: black;}


// News CSS 
.card{
display: flex;
margin-bottom: 1rem;
border-bottom: solid 1px lightcoral;
}

.pic{
   margin-right: 1.5rem;
}
