---
---
// adding variables to change completely above import
// $header-heading-color: #deeb34 !default;
// $body-link-color: #ffffff !default;
// $header-bg-color: #ff9cdb !default;

@import "{{ site.theme }}";

h1{
color: #000000; 
}

.about{
   padding: 0;
}

#logo{
   background-image: url;
}


nav ul{
   display:flex;
   list-style: none;
   justify-content: right;
   padding-left:0;
   color: red;
   font-family: Arial, Helvetica, sans-serif;
}


// To override a specific element style, be specific: instead of h1, use h1.header

// #main-content h1
.page-header{
   color: #ff9cdb;
   background-image: url(img/heroimg.jpeg);
   background-size: cover;
}

h1.page-header{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 4em;
}

h2.page-header{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 2em;
}

#logo{
   background-image: url(img/pink-logo.png);
   background-size: contain;
}

.btn{ 
border-style: none;
}





// News CSS 
.card{
display: flex;
margin-bottom: 1rem;
border-bottom: solid 1px lightcoral;
}

.pic{
   margin-right: 1.5rem;
}
