<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{'/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    
<!-- include nav.html --> 
    
<!-- header here -->


    <main id="content" class="main-content" role="main">

        <!-- Create a loop -->
    {% for block in site.data.news.story %}
    <div class="cards">
<div class="card">
    <div class="pic">
        <img src="{{block.image}}" alt="{{block.image-alt}}">
    </div>
        <div class="content">
            <h3 class="title">{{block.title}}</h3>
           <h4>{{block.subtitle}}</h4>
           <p>{{block.story-content}}</p>
           <p><a href="{{block.tag-link}}">{{block.tag}}</a></p>
        </div>
    </div>
</div>
{% endfor %}
      
      
    <!-- include footer.html -->

    </main>
  </body>
</html>
